body { 
    background-color:black; 
    margin:0px; 
}

.control_panel {
    font-family: "Courier New",Monospace;
    color:white;
    font-size: 10pt;
    position:relative;
    top:400px;
}

.column1 {
    border: solid 2px #ffffff;
    float:left;
    position:absolute;
    width: 500px;
    height: 241px;
}
.column2 {
    float: right;
    font-family: "Courier New",Monospace;
    color:white;
    position:absolute;
    float: right;
    top:0px;
    right:0px;
    border: solid 2px #ffffff;
    padding: 1px;
}

p {
    text-align: center;
}
h3 {
    text-align: center;
}

ul {
    text-align: left;
}

.ca {
    position:relative;
    top:0;
    left:0;
}

.buff1 {
    position:absolute;
    top:2;
    left:0;
    visibility: hidden;
    border: solid 2px #ffffff;
}
.buff2 {
    position:absolute;
    top:2;
    left:0;
    visibility: visible;
    border: solid 2px #ffffff;
}

#rule_textbox {
    width:50px;
    text-align:right;
}

.address {
    font-family: "Courier New",Monospace;
    color: white;
    font-size: 8pt;
}
    
