body { 
    background-color:black; 
    margin:0px; 
}
.control_panel {
    font-family: "Courier New",Monospace;
    color:white;
    position:relative;
    top:500px;
    width:500px;
    border: solid 2px #ffffff;
    padding: 1px;
}

p {
    text-align: center;
    padding: 5px;
}
h3 {
    text-align: center;
}

ul {
    text-align: left;
}

.ca {
    position:relative;
    top:0;
    left:0;
}

.buff1 {
    position:absolute;
    top:2;
    left:0;
    visibility: hidden;
    border: solid 2px #ffffff;
}
.buff2 {
    position:absolute;
    top:2;
    left:0;
    visibility: visible;
    border: solid 2px #ffffff;
}

#rule_textbox {
    width:50px;
    text-align:right;
}
